@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif !important;
}

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-default {
  background-color: #009688;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default * {
  color: #FFF !important;
}

.navbar-brand {
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 350px;
  background: linear-gradient(#009688, #00BCD4);
  margin-bottom: 40px;
}

.intro .intro-child {
  display: flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: left;
  padding: 10rem;
  color: #FFF;
}

.intro .intro-image-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.intro .intro-image-container {
  display: inline;
}

.intro .intro-image-container .intro-image {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #FFF;
  width: 20rem;
}

.intro .intro-text-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.intro .intro-text-container {
  display: inline;
  flex: 1;
  padding-left: 20px;
  padding-bottom: 32px; // TODO remove fudge factor from :after on .intro-name
}

.intro .intro-text {
  display: inline-flex;
  flex-direction: column;
}

.intro .intro-name {
  display: inline;
  font-size: 4rem;
  text-transform: uppercase;
}

.intro .intro-name:after {
  content: ' ';
  display: block;
  width: 27rem;
  margin: 10px auto 10px 0;
  border: 2px solid #FFF;
}

.intro .intro-position {
  display: inline;
  font-size: 3rem;
}

.intro .intro-location-and-email {
  font-size: 2rem;
}

.main-container {
  width: 70%;
  margin: auto;
}

h2 {
  color: #00BCD4;
}

.social-icons-container {
  display: flex;
  margin-top: 20px;
}

.social-icon {
  display: inline-flex;
  flex-direction: column;
}

.social-icons-container > .social-icon:not(:last-child) {
  margin-right: 24px;
}

.social-icons-container > .social-icon > * {
  font-weight: bold;
  text-align: center;
}