@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-default {
  background-color: #006DF0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default * {
  color: #FFF !important;
}

.navbar-brand {
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 350px;
  background: linear-gradient(#006DF0, #00BCD4);
  margin-bottom: 40px;
}

.intro .intro-child {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vw 0 0 10vw;
  vertical-align: middle;
  text-align: left;
  color: #FFF;
}

.intro .intro-image-container {
  display: flex;
  align-items: center;
}

.intro .intro-image-container .intro-image {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #FFF;
  width: 20rem;
}

.intro .intro-text-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.intro .intro-text {
  display: inline-flex;
  flex-direction: column;
  padding-left: 20px;
}

.intro .intro-name {
  display: inline;
  font-size: 4rem;
  text-transform: uppercase;
}

.intro .intro-name:after {
  content: ' ';
  display: block;
  width: 27rem;
  margin: 10px auto 10px 0;
  border: 2px solid #FFF;
}

.intro .intro-position {
  display: inline;
  font-size: 3rem;
}

.intro .intro-location-and-email {
  font-size: 2rem;
}

.main-container {
  width: 70%;
  margin: auto;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

h2 {
  color: #00BCD4;
}

.social-icons-container {
  display: flex;
  margin-top: 20px;
}

.social-icon {
  display: inline-flex;
  flex-direction: column;
}

.social-icons-container > .social-icon:not(:last-child) {
  margin-right: 24px;
}

.social-icons-container > .social-icon > * {
  font-weight: bold;
  text-align: center;
}

.social-icons-container > .social-icon > a > svg:hover {
  fill: #006DF0;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-text {
  flex: 1;
  display: flex;
}

.project-name {
  display: inline;
}

.project-date {
  color: #00BCD4;
  margin: auto 0;
  text-align: right;
  flex: 1;
}

.project-source {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 90%;
  }

  .intro .intro-image-container {
    display: none;
  }

  .intro .intro-child {
    padding-left: 10px;
  }
}